.p_contact{
  .small{
    font-size: 14px;
  }
  &_inner{
    margin: 0px auto 100px;
    max-width: $max2;
  }
  &_head{
    &_link{
      margin-top: 30px;
      a{
        text-decoration: underline;
      }
    }
  }
  &_form{
    margin-top: 50px;
  }
  &_block{
    margin-bottom: 30px;
    &_para{
      margin-bottom: 10px;
    }
    &_input{
      white-space: pre-wrap;
      position: relative;
      &.select{
        &:before{
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        right:20px;
        top: 50%;
        transform: translateY(-65%) rotate(135deg);
        content: "";
        display: block;
        pointer-events: none;
        }
      }
      input{
        width: 100%;
        height: 45px;
        border: 1px solid #000;
        padding: 10px;
        font-size: 15px;
      }
      textarea{
        width: 100%;
        border: 1px solid #000;
        padding: 10px;
        font-size: 15px;
      }
      select{
        border: 1px solid #000;
        padding: 10px;
        font-size: 15px;
        display: block;
        width: 100%;
        height: 45px;
      }
    }
    &_send{
      margin-top: 40px;
      input{
        margin-right: 20px;
        padding: 5px 20px;
        color: #FFF;
        background-color: #000;
        border: 1px solid #000;
        cursor: pointer;
        &.back{
          color: #000;
          background-color: #FFF;
        }
        &:hover{
          opacity: .5;
        }
      }
    }
  }
  &_fin{
    &_para{
      margin-bottom: 20px;
      a{
        text-decoration: underline;
      }
    }
  }
@include max-screen($breakpoint-mobile) {
  .small{
    font-size: 12px;
  }
  &_inner{
    margin:0 auto 70px;
   }
  &_form{
    margin-top: 40px;
  }
  &_block{
    &_input{
      input{
        font-size: 16px;
      }
      textarea{
        font-size: 16px;
      }
    }
    &_send{
      margin-top: 40px;
      input{
        &:hover{
          opacity:1;
        }
      }
    }
  }
}
}