.m_essay{
  max-width: $max2;
  margin: auto;
  margin-bottom: 65vh;
  padding-bottom: 80px;
  transition: opacity 3s,transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  border-bottom: 1px solid $gray2;
  &:last-of-type{
    margin-bottom: 50px;
  }
  &_mainimage{
    
  }
  &_head{
    margin: 120px auto 180px;
    position: relative;
  }
  &_date{
    margin-bottom: 10px;
  }
  &_ttl{
    width: $inner_text;
    font-size: 17px;
  }
  &_text{
    width: $inner_text;
    margin-top: 70px;
    a{
      text-decoration: underline;
    }
  }
  &_image{
    margin: auto;
    margin-bottom: 100px;
    &.tate{
      max-width: 70%;
    }
  }
@include max-screen($breakpoint-tablet){
  &_head{
    margin: 120px auto 180px;
  }
  &_date{
    margin-bottom: 10px;
  }
  &_ttl{
    width: $inner_text_tb;
    font-size: 16px;
  }
  &_text{
    margin-top: 70px;
  }
}
@include max-screen($breakpoint-mobile){
  &:last-of-type{
    margin-bottom: 100px;
  }
  &_head{
    margin: 80px auto 120px;
  }
  &_date{
    margin-bottom: 10px;
  }
  &_ttl{
    font-size: 16px;
  }
  &_text{
    width: $inner_text_sp2;
    margin-top: 60px;
  }
  &_image{
    &.tate{
      max-width: 83%;
    }
  }
}

}