.m_head{
  height:$header_height;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10000;
  position: absolute;
  top:$header_height;
  transform: translate3d(0,-100%,0);
  &.fix,&.show,&[aria-expanded = "true"]{
    margin-top: 0;
    position: fixed;
    top: 0;
    transform: none;
    transition: transform .4s cubic-bezier(.16,.68,.43,.99),border 0s .4s;
    .m_head_logo_ttl{
      display: none;
    }
    .m_head_logo_image{
      display: block;
    }
    .m_head_ctg{
      display: block;
    }
    .m_head_top{
      padding-top: 0;
    }
    .m_head_menu{
      top: 0;
    }
  }
  &[aria-expanded = "true"]{
    transition:none;
  }
  &_inner{
    margin: auto;
    width: 90%;
    max-width: $max1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_top{
    height: $header_height;
    position: relative;
    //background-color:rgba(255,255,255,.7);
    z-index: 20;
    padding-top: 40px;
    box-sizing: content-box;
    &[aria-expanded = "true"]{
      display: none;
    }
  }
  &_logo{
    &_ttl{
      font-size: 26px;
      a{
        display: block;
      }
    }
    &_arrow{
      position: relative;
      a{
        position: absolute;
        display: block;
        position: relative;
        left: 0;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        &:before{
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        transform: rotate(-45deg);
        transition: center center;
        position: absolute;
        left: 0;
        top:0;
        right: 0;
        bottom: 0;
        margin: auto;
        }
      }
    }
  }
  &_right{
    display: flex;
    align-items: center;
    margin-right: -10px;
  }
  &_news{
    font-size: 12px;
    display: none;
    &.on{
      display: block;
    }
    &[aria-expanded = "true"]{
      display: none;
    }
    a{
      text-decoration: underline;
    }
  }
  &_btn{
    position: relative;
    height: 70px;
    width: 70px;
    margin-left: 30px;
    cursor: pointer;
    z-index: 20;
    &[aria-expanded = "true"]{
      position: fixed;
      right: 20px;
      top:20px;
    }
    &_inner{
      position: absolute;
      width: 28px;
      height: 16px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    span{
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background-color:#000;
      opacity: 1;
      left: 0;
      border-radius: 20px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      bottom: 0;
    }
    &[aria-expanded = "true"] span:nth-child(1) {
      top: 50%;
      transform: rotate(135deg);
    }
    &[aria-expanded = "true"] span:nth-child(2) {
      top: 50%;
      transform: rotate(-135deg);
    }
  }
  &_menu{
    position: absolute;
    width:100%;
    height: 100%;
    max-width: 500px;
    right: 0;
    top: 50px;
    background-color: #FFF;
    padding:0 5%;
    padding-top: $header_height;
    font-size: 13px;
    background-color: $gray;
    &_outer{
      position: fixed;
      width:100%;
      height: 100vh;
      left: 0;
      top:0;
      display: none;
      z-index: 10;
      &[aria-expanded = "true"]{
        display:block;
      }
    }
    &_box{
      display: flex;
      justify-content: space-between;
      padding-top: 0;
    }
    &_left{
      width: 55%;
    }
    &_right{
      width: 45%;
    }
    &_list{
      margin-bottom: 50px;
      &_li{
        a,.link{
          display: block;
          padding: 15px 0;
          .insta{
            width: 20px;
          }
        }
      }
    }
    &_sublist{
      font-size: 12px;
      margin-left: 13px;
      a{ 
        padding: 6px 0;
      }
    }
  }
@include max-screen($breakpoint-tablet){
  height: $header_height_tb;
  top:$header_height_tb;
  margin-top: 0;
  &_inner{
    width: $inner_tb;
  }
  &_top{
    height: $header_height_tb;
    position: relative;
    padding-top: 0px;
  }
  &_logo{
    &_ttl{
      font-size: 22px;
    }
    &_arrow{
      a{
        width: 40px;
        height: 40px;
        &:before{
        width: 15px;
        height: 15px;
        }
      }
    }
  }
  &_btn{
    width: 50px;
    &[aria-expanded = "true"]{
      top:0;
      right:5%;
    }
    &_inner{
      width: 28px;
    }
  }
  &_menu{
    max-width: 400px;
    padding-top: $header_height_tb;
    top: 0;
  }
}
@include max-screen($breakpoint-mobile){
  height: $header_height_sp;
  top:$header_height_sp;
 &_top{
   height: $header_height_sp;
   padding-top: 0px;
  }
  &_inner{
    width: $inner_sp;
  }
  &_logo{
    &_ttl{
      font-size: 19px;
    }
    &_arrow{
      a{
        width: 40px;
        height: 40px;
        &:before{
        width: 10px;
        height: 10px;
        }
      }
    }
  }
  &_right{
  }
  &_news{
    font-size: 10px;
  }
  &_link{
    margin-left: 5px;
    a{
      padding:3px 8px;
      font-size: 12px;
    }
  }
  &_btn{
    height: 58px;
    width: 30px;
    margin-left: 20px;
    &_inner{
      width: 18px;
      height: 12px;
    }
    span:nth-child(2) {
      bottom: 0;
    }
  }
  &_menu{
    width:100%;
    max-width: none;
    &_box{
      width:85%;
      margin: auto;
    }
    &_left{
      width: 63%;
    }
    &_right{
      width: 37%;
    }
    &_sublist{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       margin-left: 0;
       width: 70%;
      li{ 
        width: 50%;
         a{ 
        padding: 8px 0;
        }
      }
    }
  }
}
 &_right{
   margin-right: 0px;
 }
}