.m_newslist{
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  &_item{
    margin-bottom: 100px;
    width: 30%;
    margin-right: 5%;
    position: relative;
    &:nth-of-type(3n+3){
      margin-right: 0;
    }
    &_mark{
      position: absolute;
      left: 0;
      top:0;
      padding: 5px 10px;
      background-color: $gray;
      z-index: 2;
      font-size: 10px;
    }
    &_image{
      width:auto;
      margin: auto;
      position: relative;
      &:before{
        padding-top: 70%;
        content: "";
        display: block;
      }
      img{
        @include boxinner();
        object-fit:cover;
        font-family: "object-fit: cover";
        height: 100%;
      }
    }
    &_ttl{
      margin-top: 25px;
      margin-bottom: 10px;
    }
    a{
      display: block;
    }
  }
@include max-screen($breakpoint-tablet){
  &_item{
    width: 48%;
    margin-right: 4%;
    &:nth-of-type(3n+3){
      margin-right: 4%;
    }
    &:nth-of-type(2n+2){
      margin-right:0;
    }
    &_image{
      width: 85%;
    }
   &_mark{
    left: 7.5%;
    }
 }
}
@include max-screen($breakpoint-mobile){
  display: block;
  margin-top: 120px;
  &_item{
    margin-bottom: 90px;
    width: auto;
    margin-right:auto;
    &:nth-of-type(3n+3){
      margin-right:auto;
    }
    &:nth-of-type(2n+2){
      margin-right:auto;
    }
    &_image{
      //width: 80%;
    }
  }
}
}