.m_share{
  position: absolute;
  right:-8px;
  &_btn{
    width: 35px;
    line-height: 0;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
    &:hover{
      *{
        fill: #000;
      }
    }
  }
  &_list{
    display: flex;
    position: absolute;
    right:0;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    &[aria-expanded="true"]{
      pointer-events: auto;
      opacity: 1;
    }
    li{
      a,.link{
        cursor: pointer;
        display: block;
        padding: 10px;
        width: 40px;
        line-height: 1;
        &:hover,&.on{
          opacity: 1;
          path{
            fill: #000;
          }
        }
      }
    }
  }
}