.m_workslist{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 80px;
  &_item{
    margin-bottom: 100px;
    width: 43%;
    &_image,&_video{
      width: 85%;
      margin: auto;
      position: relative;
      overflow: hidden;
      &:before{
        padding-top: 70%;
        content: "";
        display: block;
      }
      img{
        @include boxinner();
        object-fit:cover;
        font-family: "object-fit: cover";
        height: 100%;
      }
      iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*縦横幅指定*/
        width: 177.77777778%; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
        height: 56.25%; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
        min-height: 100%;
        min-width: 100%;
      }
      &.tate{
        img{
          object-fit:contain;
          font-family: "object-fit: contain";
        }
      }
    }
    &_video{
      pointer-events: none;
    }
    &_ttl{
      margin-top: 25px;
    }
    a{
      display: block;
    }
  }
@include max-screen($breakpoint-tablet){
  &_item{
    width: 48%;
    &_image{
      width: 85%;
    }
  }
}
@include max-screen($breakpoint-mobile){
  display: block;
  margin-top: 120px;
  &_item{
    width:auto;
    margin-bottom: 90px;
    &_image{
      width: 85%;
    }
  }
}
}