//mixin
@mixin box($size) {
  padding-top: $size;
  content: "";
  display: block;
}
@mixin boxinner() {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
}

@mixin cover($url) {
background-image: url($url);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

$duration-time: 1.5s;
$easing: ease;

@mixin animation-settings {
 animation-duration: $duration-time;
 animation-timing-function: $easing;
 animation-delay: 0s;
 animation-iteration-count: 1;
 animation-direction: normal;
 animation-fill-mode: both;
 animation-play-state: running;
 -webkit-backface-visibility:hidden;
 backface-visibility:hidden;
}