// color
$gray:#F2F2F2 !default;
$gray2:#CCC !default;
// size
$inner: 90% !default;
$inner_pc: 90% !default;
$inner_tb:86% !default;
$inner_sp: 90% !default;
$inner_padding:5% !default;
$inner_padding_tb:5% !default;
$inner_padding_sp:5% !default;
$inner_text:70% !default;
$inner_text_tb:75% !default;
$inner_text_sp:80% !default;
$inner_text_sp2:85% !default;

$outer_inner:94% !default;
//$header_height:135px;
//$header_height_sp:100px;
$header_height:88px;
$header_height_tb:70px;
$header_height_sp:60px;
$wrapper_height:210px;
$wrapper_height_tb:180px;
$wrapper_height_sp:150px;

//max
$max1:1100px;
$max2:800px;


//break-point
$breakpoint-tablet: 979px;
$breakpoint-mobile: 767px;
$breakpoint-mobile_s: 359px;

$ease1:cubic-bezier(0.65, 0, 0.35, 1);

//animation
@keyframes fadeIn {
  0% {opacity: 0} 
  100% {opacity: 1}
}