html,body{
}
.wrapper{
  padding-top:$wrapper_height;
}
.contents{
  padding-top:80px;
  &.np{
    padding-top: 0;
  }
  &_inner{
    &.padding{
      padding:100px 0 0;
    }
  }
  &_load{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
    transition: visibility 0s .7s;
    display: flex;
    &_logo{
      width: 55px;
    }
  }
}

//inner

.inner{
  margin:auto;
  width: $inner_pc;
  max-width: $max1;
}
.inner_pc{
  margin:auto;
  width:$inner_pc;
  max-width: $max1;
}
.inner_tb_pc{
  margin:auto;
  width:$inner_pc;
  max-width: $max1;
}
a{
  &:hover{
    opacity: .5;
  }
}
.anchor{
  padding-top: 70px;
  margin-top: -70px;
}

//
.image{
  position: relative;
  img{
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: absolute;
  }
}
[data-sal|=fade]{
  transition-timing-function:$ease1;
}
.infinite-scroll-component {
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
  overflow: visible!important;
}
.infinite-scroll-component::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

@include max-screen($breakpoint-tablet) {
.wrapper{
  padding-top:$wrapper_height_tb;
}
.contents{
  &_inner{
    &.padding{
      padding:50px 0 0;
    }
  }
  &_num{
    .small{
      font-size: 15px;
    }
    .big{
      font-size: 64px;
    }
  }
  &_bottom{
    margin-top: 80px;
  }
  &_nav{
    padding-top:0;
    height: 130px;
    right:auto;
    top: auto;
    bottom: 0;
    left:0;
    flex-direction: row-reverse;
    &_btn{
      margin:0 10px;
      a{
        width: 65px;
        padding: 10px;
        display: block;
      }
    }
  }
}

//inner
.inner_pc{
  width: auto;
}
.inner,.inner_sp_tb,.inner_tb_pc{
  margin:auto;
  width: $inner_tb;
}

.anchor{
  padding-top: 65px;
  margin-top: -65px;
}

}
@include max-screen($breakpoint-mobile) {
.wrapper{
  padding-top:$wrapper_height_sp;
}
.contents{
  padding-top:50px;
  &_inner{
    &.padding{
      padding:40px 0 0;
    }
  }
  &_num{
    line-height: 0.96;
    .small{
      font-size: 13px;
    }
    .big{
      font-size: 50px;
    }
  }
  &_bottom{
    margin-top:50px;
  }
  &_nav{
    height: 120px;
    &_btn{
      margin:0 0px;
      a{
        width: 70px;
        padding: 15px;
        display: block;
      }
    }
  }
}
.nuxt-progress{
  top: 50px;
  height: 3px!important;
}
.anchor{
  padding-top: 58px;
  margin-top: -58px;
}


.inner_tb_pc,.inner_tb{
  width: auto;
}
.inner_sp,.inner,.inner_sp_tb,.inner_sp_pc{
  margin: auto;
  width: $inner_sp;
}
}