/* display */
:root{
  --myheight: 100px;
}
img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
svg{
  width: 100%;
  height: auto;
}
.tb{
  display:none
}
.sp{
  display: none;
}
.sp_tb{
  display: none;
}
.s_sp{
  display: none;
}

.cf:after {
    content:" ";
    display:block;
    clear:both;
}
.hide{
  display: none;
}
*{
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/* display */

/* font */
body{
  -webkit-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  font-weight:400;
  letter-spacing: 0.025em;
  font-family:"MatissePro-L", serif;
  text-align: left;
  font-size: 15px;
  font-feature-settings: "pwid";
  color:#000 !important;
  .bold{
    font-weight: bold;
  }
}

.kerning{
  letter-spacing: .27em;
}
.kerning_m{
  margin-left:.27em;
}

.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.center{
  text-align: center;
}

.ls0{
  letter-spacing: 0;
}

.p_essay_ttl,
.p_news_ttl,
.p_works_ttl,
.p_works_ttl,
.p_news_detail_ttl,
.p_news_detail_date,
.p_works_detail_ttl,
.p_books_detail_ttl,
.p_books_detail_date,
.p_profile_head_ttl,
.p_profile_head_subttl{font-size: 18px}


/*  color   */

.no-wrapp{
  white-space: nowrap;
  display: inline-block;
}
.no-space{
  letter-spacing: -.5em;
}


@include max-screen($breakpoint-tablet)  {
/* display */
body{
  font-size: 14px;
}
.tb{
  display:block
}
.sp_tb{
  display:block
}
.sp_pc{
  display: none;
}
.pc{
  display:none
}


/* display */

}

@include max-screen($breakpoint-mobile)  {
/* display */
body{
  font-size: 13px;
}
.tb_pc{
  display: none
}
.sp_pc{
  display:block
}
.tb{
  display: none;
}
.sp{
  display: block;
}

.p_essay_ttl,
.p_news_ttl,
.p_works_ttl,
.p_works_ttl,
.p_news_detail_ttl,
.p_news_detail_date,
.p_works_detail_ttl,
.p_books_detail_ttl,
.p_books_detail_date,
.p_profile_head_ttl,
.p_profile_head_subttl{font-size: 17px}

/* display */
}

@include max-screen($breakpoint-mobile_s) {
.s_sp{
  display: block;
}
}