.p_artworks{
  &_detail{
    position:absolute;
    width: 100%;
    height: 100%;
    left:0;
    right:0;
    bottom:0;
    top:0;
    &_inner{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 1100px;
        height: calc(100% - 100px);
        margin: auto;
    }
    &_text{
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -30px;
        &_ttl{
        }
    }
  }
  @include max-screen($breakpoint-mobile){
    &_detail{
        &_inner{
            top:auto;
            height: calc(100% - 55px);
        }
        &_text{
            bottom: 20px;
        }
    }
  }
}