.p_books{
  &_detail{
    margin-bottom: 200px;
    &_inner{
      max-width: 700px;
    }
    &_ttl{
    }
    &_date{
      margin-top:20px;
    }
    &_mainimage{
      margin-top: 150px;
      margin-bottom: 100px;
    }
    &_image{
      margin: auto;
      margin-top: 30px;
      &.tate{
        //width: 50%;
      }
      &_inner{
        display: block;
        position: relative;
        img{
          @include boxinner();
        }
      }
    }
    &_text{
      margin-bottom: 70px;
      width: $inner_text;
      text-align: justify;
      white-space: pre-wrap; 
      &.lh{
      }
      a{text-decoration: underline}
    }
    &_gallery{
      &_image{
        margin-top: 200px;
      }
    }
    &_bottom{
      margin: 200px auto 100px;
    }
  }
  @include max-screen($breakpoint-tablet) {
   &_detail{
      &_text{
        width: $inner_text_tb;
      }
   }
 }
  @include max-screen($breakpoint-mobile) {
    &_detail{
      margin-bottom: 100px;
      &_ttl{
      }
      &_text{
        margin-top: 80px;
        width: $inner_text_sp2;
      }
      &_gallery{
        &_image{
          margin-top: 150px;
        }
      }
    }
  }
}