.p_essay{
  &_ttl{
    text-align: center;
    margin-bottom: 120px;
  }
  &_nav{
    text-align: center;
    padding: 0 0 100px;
    text-align: center;
    a{
      display: inline-block;
      padding: 10px 40px;
    }
  }
@include max-screen($breakpoint-tablet) {

}
@include max-screen($breakpoint-mobile) {
}
}