.p_index{
     margin-top:50px;
@include max-screen($breakpoint-tablet) {
     margin-top:70px;
}
@include max-screen($breakpoint-mobile) {
}
}

@keyframes fadeUp {
  0% {transform: translate3d(0,250px,0)} 
  100% {transform: translate3d(0,0,0)}
}
@keyframes fadeUpSP {
  0% {transform: translate3d(0,150px,0)} 
  100% {transform: translate3d(0,0,0)}
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0,100px,0);
    opacity: 0;
  } 
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}