.p_news{
  &_detail{
    margin-bottom: 200px;
    &_inner{
      max-width: 700px;
    }
    &_ttl{
    }
    &_date{
      margin-top:20px;
    }
    &_mainimage{
      margin-top: 150px;
    }
    &_image{
      margin: auto;
      margin-top: 30px;
      &.tate{
        width: 78%;
      }
      &_inner{
        display: block;
        position: relative;
        img{
          @include boxinner();
        }
      }
    }
    &_text{
      margin-top: 100px;
      width: $inner_text;
      p{
        margin-bottom: 1em;
        text-align: justify;
      }
      a{
        text-decoration: underline;
      }
      span{
        color: #000!important;;
      }
    }
    &_gallery{
      &_image{
        margin-top: 180px;
      }
    }
    &_bottom{
      margin: 200px auto 0;
    }
    &_back{
      text-align: center;
      a{
        text-decoration: underline;
      }
    }
  }
  @include max-screen($breakpoint-tablet) {
 &_detail{
    &_text{
      width: $inner_text_tb;
      }
   }
  }
  @include max-screen($breakpoint-mobile) {
    &_detail{
      margin-bottom: 100px;
      &_ttl{
      }
      &_date{
        margin-top:20px;
      }
      &_text{
        margin-top: 50px;
        width: $inner_text_sp;
      }
      &_gallery{
        &_image{
          margin-top: 150px;
        }
      }
      &_bottom{
        margin: 100px auto 0;
      }
    }
  }
}