.p_profile{
  padding-bottom: 200px;
  &_inner{
    max-width: $max2;
  }
  &_head{
    &_ttl{
    }
    &_subttl{
	    margin-top: 20px;
    }
    &_image{
      margin-top: 100px;
      position: relative;
      max-width: 300px;
    }
  }
  &_content{
    margin-top: 80px;
    width: $inner_text;
  }
  &_block{
    margin-top: 50px;
    text-align: justify;
    &_ttl{}
    &_para{
      margin-top: 20px;;
    }
  }
@include max-screen($breakpoint-tablet){
  &_content{
    width: $inner_text_tb;
  }
}
@include max-screen($breakpoint-mobile){
  padding-bottom: 100px;
  &_head{
    width: $inner_text_sp;
    &_ttl{
    }
    &_subttl{
    }
    &_image{
    }
  }
  &_content{
    width: $inner_text_sp;
  }
  &_block{
    margin-top: 30px;
    &_ttl{}
    &_para{
      margin-top: 15px;
    }
  }
}
}