.p_works{
  &_tags{
    margin-top: 0px;
    &_ttl{
      font-size: 15px;
      text-align: right;
      padding-right: 20px;
      position: relative;
      cursor: pointer;
      margin-right: 20px;
      &:before,&:after{
        content: "";
        display: block;
        background-color: #000;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
      }
      &:before{
        width: 12px;
        height: 1px;
        right: 0;
      }
      &:after{
        width: 1px;
        height: 12px;
        right: 6px;
      }
      &[aria-expanded = "true"]{
        &:after{
          display: none;
        }
      }
    }
    &_list{
      margin-top: 30px;
      display: none;
      &[aria-expanded = "true"]{
        display: block;
      }
      li{
        display: inline-block;
        margin-right: 3px;
        margin-bottom: 3px;
        &.active,&:hover{
          a{
            opacity: 1;
            background: $gray2;
            cursor: normal;
          }
        }
        a{
          padding: 4px 25px;
          display: block;
          font-size: 12px;
          background-color: $gray;
          white-space: nowrap;
        }
      }
    }
  }
  &_detail{
    &_inner{
      max-width: $max1;
    }
    &_ttl{
    }
    &_mainimage{
      margin-top: 150px;
    }
    &_video{
      margin-top: 150px;
      position: relative;
      &:before{
        content: "";
        display: block;
        padding-top: 56.25%;
      }
      iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &_image{
      margin: auto;
      margin-top: 100px;
      &.tate{
        width: 58%;
      }
      &_inner{
        display: block;
        position: relative;
        img{
          @include boxinner();
          border:1px solid #f4f4f4;
        }
      }
    }
    &_text{
      margin-top: 100px;
      width: $inner_text;
      p{
        margin-bottom: 1em;
        text-align: justify;
        a{text-decoration: underline;}
      }
    }
    &_gallery{
      &.grid{
        display: flex;
        flex-wrap: wrap;
        .p_works_detail_image{
          margin: 0;
          margin-top:30px;
          width: 30%;
          margin-right: 5%;
          &:nth-child(3n+3){
            margin-right: 0;
          }
        }
      }
      &_image{
        margin-top: 180px;
      }
    }
    &_bottom{
      margin: 250px auto 100px;
    }
    &_nav{
      position: fixed;
      bottom:0px;
      right: 0px;
      display: flex;
      gap: 10px;
      background-color: #FFF;
      padding: 20px;
      p{
        width: 32px;
        cursor: pointer;
        line-height: 0;
        &.on{
          opacity: .5;
        }
      }
    }
  }
  @include max-screen($breakpoint-tablet) {
  &_detail{
      &_text{
      width: $inner_text_tb;
      }
  }
  }
  @include max-screen($breakpoint-mobile) {
  &_tags{
   &_ttl{
      margin-right: 0;
    }
  }
  &_detail{
    &_ttl{
    }
    &_text{
      margin-top: 80px;
      width: $inner_text_sp;
    }
    &_gallery{
      &.grid{
        margin: auto;
        width: 90%;
        .p_works_detail_image{
          width: 47.5%;
          margin-right: 5%;
          &:nth-child(3n+3){
            margin-right: 5%;
          }
          &:nth-child(2n+2){
            margin-right:0;
          }
        }
      }
      &_image{
        margin-top: 150px;
      }
    }
  }
  }
}